/* Task-1  */
/* button:hover{
    background-color: yellow;
    color:red
} */
/* Task-2  */
a:visited {
 color:brown
}
a:link {
    color:deeppink
}
/* Task-3  */
/* button:active{
    background-color: coral;
} */